<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenda.communicationsystem.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.wenda.communicationsystem.model.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="from_id" jdbcType="INTEGER" property="fromId" />
    <result column="to_id" jdbcType="INTEGER" property="toId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="has_read" jdbcType="INTEGER" property="hasRead" />
    <result column="conversation_id" jdbcType="VARCHAR" property="conversationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, from_id, to_id, content, create_date, has_read, conversation_id
  </sql>
  <sql id="Insert_Column_List">
    from_id, to_id, content, create_date, has_read, conversation_id
  </sql>

  <select id="getConversationList" resultMap="BaseResultMap">
    select <include refid="Insert_Column_List"/>, count(id) as id
    from (select * from message
    where from_id = #{userId} or to_id = #{userId} order by create_date desc) tt group by conversation_id
    order by create_date desc
    LIMIT #{offset}, #{limit}
  </select>

  <select id="getConversationUnreadCount" resultType="java.lang.Integer">
    select
    count(id)
    from message
    where has_read = 0 and to_id = #{userId,jdbcType=INTEGER}
    and conversation_id = #{conversationId,jdbcType=INTEGER}
  </select>

  <select id="getConversationDetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from message
    where conversation_id = #{conversationId}
    order by create_date desc
    LIMIT #{offset}, #{limit}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.wenda.communicationsystem.model.Message">
    insert into message (id, from_id, to_id, 
      content, create_date, has_read, 
      conversation_id)
    values (#{id,jdbcType=INTEGER}, #{fromId,jdbcType=INTEGER}, #{toId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{hasRead,jdbcType=INTEGER}, 
      #{conversationId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wenda.communicationsystem.model.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="hasRead != null">
        has_read,
      </if>
      <if test="conversationId != null">
        conversation_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=INTEGER},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hasRead != null">
        #{hasRead,jdbcType=INTEGER},
      </if>
      <if test="conversationId != null">
        #{conversationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateHasRead" parameterType="java.lang.Integer">
    update message
    set has_read = 1
    where to_id = #{toId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.wenda.communicationsystem.model.Message">
    update message
    <set>
      <if test="fromId != null">
        from_id = #{fromId,jdbcType=INTEGER},
      </if>
      <if test="toId != null">
        to_id = #{toId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="hasRead != null">
        has_read = #{hasRead,jdbcType=INTEGER},
      </if>
      <if test="conversationId != null">
        conversation_id = #{conversationId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wenda.communicationsystem.model.Message">
    update message
    set from_id = #{fromId,jdbcType=INTEGER},
      to_id = #{toId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      has_read = #{hasRead,jdbcType=INTEGER},
      conversation_id = #{conversationId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>